@model Biblioteca_De_Clases.luna

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>luna</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="codigo_luna" class="control-label"></label>
                <input asp-for="codigo_luna" class="form-control" />
                <span asp-validation-for="codigo_luna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre_luna" class="control-label"></label>
                <input asp-for="nombre_luna" class="form-control" />
                <span asp-validation-for="nombre_luna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="distancia_km_planeta_luna" class="control-label"></label>
                <input asp-for="distancia_km_planeta_luna" class="form-control" />
                <span asp-validation-for="distancia_km_planeta_luna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="edad_años_luna" class="control-label"></label>
                <input asp-for="edad_años_luna" class="form-control" />
                <span asp-validation-for="edad_años_luna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="planeta_lunacodigo_planeta" class="control-label"></label>
                <input asp-for="planeta_lunacodigo_planeta" class="form-control" />
                <span asp-validation-for="planeta_lunacodigo_planeta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
